{% extends "hosannaWebsite/header.html" %} {% load static %} {% block content %}
<!-- Inner Content Box ==== -->
<div class="page-content">
    <!-- Page Heading Box ==== -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'assets/images/background/1.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white">About Us</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{% url 'home-url' %}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <!-- Page Heading Box END ==== -->
    <!-- Page Content Box ==== -->
    <div class="content-block">
        <!-- About Us ==== -->
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/philosophy.jpg' %}" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Our Philosophy</h5>
                                <p>To pierce through the heart of digital acknowlegdement and giving out it's fruit to the globe...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/principle.png' %}" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Our Principle</h5>
                                <p>We stand on a strong frim of deligence and fun path through digital enlightments...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/success.png' %}" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Key Of Success</h5>
                                <p>We build through knowlegde and enthusiasm, determination, skill, passion, and discipline...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                        <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                                <a href="#" class="icon-cell"><img src="{% static 'assets/images/icon/vision.png' %}" alt="" /></a>
                            </div>
                            <div class="icon-content">
                                <h5 class="ttr-tilte">Our Vision</h5>
                                <p>To create, share, and apply knowledge, including in interdisciplinary areas. And to be among the world's best research centre for digital tranings...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us END ==== -->
        <!-- Our Story ==== -->
        <div class="section-area bg-gray section-sp1 our-story">
            <div class="container">
                <div class="row align-items-center d-flex">
                    <div class="col-lg-5 col-md-12 heading-bx">
                        <h2 class="m-b10">The Lineage</h2>
                        <h5 class="fw4">Hosanna computer institute.</h5>
                        <p>Hosanna Computer Institute hails from Ijedodo community, Lagos where it started as a small printing and copy center with basics in tranings. And now, it has students in almost all sections of Information Technology, with a good
                            recognition. We hope high to offer the best mobile IT literacy to the globe and be counted among the top educational faculty in the world. To import knowledge and training in newer technologies and diverse fascinating fields
                            to young and old, genius and not so intelligent highly educated and not so much at reasonable cost, accessible to many using modern tools to empower individuals</p>
                    </div>
                    <div class="col-lg-7 col-md-12 heading-bx p-lr">
                        <div class="video-bx">
                            <img src="{% static 'assets/images/mock-up.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Story END ==== -->
        <!-- Our Status ==== -->
        <div class="section-area content-inner section-sp1">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                            <div class="counter-style-1">
                                <div class="text-primary">
                                    <span class="counter">300</span><span>+</span>
                                </div>
                                <span class="counter-text">Completed Projects</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                            <div class="counter-style-1">
                                <div class="text-black">
                                    <span class="counter">200</span><span>+</span>
                                </div>
                                <span class="counter-text">Happy Clients</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                            <div class="counter-style-1">
                                <div class="text-primary">
                                    <span class="counter">50</span><span>+</span>
                                </div>
                                <span class="counter-text">Questions Answered</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-6 m-b30">
                            <div class="counter-style-1">
                                <div class="text-black">
                                    <span class="counter">200</span><span>+</span>
                                </div>
                                <span class="counter-text">Students</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Status END ==== -->
        <!-- About Content ==== -->
        <div class="section-area section-sp2 bg-fix ovbl-dark join-bx text-center" style="background-image:url({% static 'assets/images/background/bg1.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="join-content-bx text-white">
                            <h2>Learn a new skill online on <br/> your time</h2>
                            <h4><span class="">Join </span> Online Courses</h4>
                            <p>Get a diploma for your desire course while studying from home. Keep getting better with wide range of free online courses on different aspectto save time and money with online lectures. You can find a degree that suits your
                                learning style and situation, so you will finally hop in to the world with confidence.</p>
                            <a href="{% url 'course-url' %}" class="btn button-md">PICK A COURSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Content END ==== -->
        <div class="section-area section-sp2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading-bx left">
                        <h2 class="title-head text-uppercase">what people <span>say</span></h2>
                    </div>
                </div>
                <div class="testimonial-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                    {% for testimonial in Testimonial %}
                    <div class="item">
                        <div class="testimonial-bx">
                            <div class="testimonial-thumb">
                                <img src="{{testimonial.image.url}}" alt="">
                            </div>
                            <div class="testimonial-info">
                                <h5 class="name">{{ testimonial.name }}</h5>
                                <p>{{ testimonial.title }}</p>
                            </div>
                            <div class="testimonial-content">
                                <p>{{ testimonial.content }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Testimonials END ==== -->
        {% endblock content %}