{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Form | Hosanna Computer Institute</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css' %}">


    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <form action="{% url 'registration-url' Course %}" method="POST" class="register-form" id="register-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        {% if text %}
                        <h3 style="color: red;">{{text}} <br> {{finishing}}</h3><br>
                        {% endif %}
                        {% if form %}
                        <p>Please follow up the registration to the end. You advice to have a steady internet connection to avoid misconnection <br>
                        Download the Application form, fill, scan in pdf file format and upload before submitting the form</p>
                        <h2>student registration form</h2>
                        {{ form | crispy  }}
                        <div class="btn form-submit">
                            <a href="{% url 'form-url' %}">Click to Download Form</a>
                        </div>
                        <div class="form-submit">
                            <input type="submit" value="Reset All" class="submit" name="reset" id="reset" />
                            <input type="submit" value="Submit Form" class="submit" name="submit" id="submit" />
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>